@import "tailwindcss";

@font-face {
    font-family: "Averia Sans Libre";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/AveriaSansLibre-Regular.ttf") format("truetype");
}

@theme {
    --font-averia-sans-libre: "Averia Sans Libre", sans-serif;
}

html,
body {
    /* sizing */
    @apply size-full;
}

html {
    /* typography */
    @apply font-averia-sans-libre tracking-wide text-zinc-50;
}

body {
    /* backgrounds */
    @apply bg-zinc-950;
}

main {
    /* spacing */
    @apply p-4 m-auto;

    /* sizing */
    @apply min-h-full;
}

h1,
h2 {
    /* typography */
    @apply font-medium;

    /* spacing */
    @apply mb-2;
}

h1 {
    /* typography */
    @apply text-2xl;
}

h2 {
    /* typography */
    @apply text-xl;
}

p {
    /* typography */
    @apply text-zinc-300;
}
